body { background: #eee; padding: 10px; }

code {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 0 3px;
}
button {
  padding: 10px 20px;
	line-height: 1;
	border: 0;
	text-align: center;
	text-transform: uppercase;
  cursor: pointer;
}

.nav {
  display: flex;
}
.nav__link {
  padding: 10px;
}

.body {
  display: flex;
  flex-direction: column;
}
.body__panel {
  background: white;
  padding: 10px;
  margin: 10px;
}

.claim {
  font-size: 24px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}


.argument {
  font-size: 20px;
  margin-left: 8px;
  border-left: 1px solid black;
  padding-left: 6px;
  padding-top: 4px;
}
.argument__SUPPORTS {
  color: green;
}
.argument__OPPOSES {
  color: red;
}

.claim-card,
.arg-card {
  border: 1px solid #eee;
  background-color: white;
  border-radius: 5px;
  padding: 10px 15px;
  display: inline-block;
  cursor: pointer;
}
.claim-card:hover,
.arg-card:hover { border-color: blue; }
.claim-card { font-weight: bold; }
.arg-card__SUPPORTS {
  color: green;
}
.arg-card__OPPOSES {
  color: red;
}

.pulse-0 {
  animation-name: pulse-0;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out; 
}
.pulse-1 {
  animation-name: pulse-1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out; 
}
@keyframes pulse-0 {
  0% {
    background-color: orange;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes pulse-1 {
  0% {
    background-color: orange;
  }
  100% {
    background-color: #ffffff;
  }
}
.premise {
  font-size: 16px;
  margin-left: 6px;
  border-left: 1px solid black;
  padding-left: 10px;
}

.graph-scene {
  position: relative;
}
.graph-scene__nodes-wrap {
  position: relative;
  z-index: 1;
}
.graph-scene__row {
  display: flex;
  padding: 10px 0;
}
.graph-scene__column {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}

.graph-scene__links-svg-wrap {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}
.graph-scene__links-svg {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  width: 100%;
}

.graph-scene__links-line  {
  stroke-width: 1;
  stroke: black;
}

.graph-scene__links-line--OPPOSES {
  stroke: red;
}

.graph-scene__links-line--SUPPORTS {
  stroke: green;
}