body { background: #eee; padding: 10px; }

code {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 0 3px;
}

.nav {
  display: flex;
}
.nav__link {
  padding: 10px;
}

.body {
  display: flex;
  flex-direction: column;
}
.body__panel {
  background: white;
  padding: 10px;
  margin: 10px;
}

.claim {
  font-size: 24px;
}


.argument {
  font-size: 20px;
  margin-left: 8px;
  border-left: 1px solid black;
  padding-left: 6px;
  padding-top: 4px;
}
.argument__SUPPORTS {
  color: green;
}
.argument__OPPOSES {
  color: red;
}

.claim-card,
.arg-card {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 15px;
  display: inline-block;
}
.arg-card__SUPPORTS {
  color: green;
}
.arg-card__OPPOSES {
  color: red;
}


.premise {
  font-size: 16px;
  margin-left: 6px;
  border-left: 1px solid black;
  padding-left: 10px;
}

.graph-scene {
  position: relative;
}
.graph-scene__row {
  display: flex;
  padding: 10px 0;
}
.graph-scene__column {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}
.graph-scene__links-svg {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;

}

.graph-scene__links-svg line  {
  stroke-width: 1;
  stroke: black;
}